*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
    max-height: 625px;
}
.hero-pannel{
    width: 457px;
    margin-top: 100px;
}
.hero-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 70px;
}
.green-text{
    color: #3C9379;
}
.hero-pannel p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #535A56;
    margin-top: 32px;
}
.hero-pannel button{
    width: 156px;
    height: 48px;
    background-color: #3C9379;
    border: 1px solid #3C9379;
    border-radius: 8px;
    margin-top: 32px;

}
.hero-pannel button a{
    color: #FFFFFF;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
}