<div class="container">
    <h1>Popular Products From
        All Brands</h1>
    <div class="cards">
        <div class="air-force card">
            <img src="../../assets/airforce.png" alt="">
            <h3>Nike Air Force</h3>
            <p>Rp 2.999.999</p>
        </div>
        <div class="white-sweater card">
            <img src="../../assets/sweter.png" alt="">
            <h3>White Sweter</h3>
            <p>Rp 2.99.999</p>
        </div>
        <div class="smartwatch card">
            <img src="../../assets/smartwatch.png" alt="">
            <h3>Android Smartwatch</h3>
            <p>Rp 1.399.999</p>
        </div>
        <div class="airpods card">
            <img src="../../assets/airpods.png" alt="">
            <h3>Apple Airpods</h3>
            <p>Rp 2.599.999</p>
        </div>
    </div>
</div>
