*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 100px;
}
.cards{
    display: grid;
    grid-template-rows: 448px;
    grid-template-columns: 280px 30px 280px 30px 280px 30px 280px;
}
.air-force{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
}

.white-sweater{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
}


.smartwatch{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}
.airpods{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 7;
    grid-column-end: 8;
}
.container div div img{
    width: 280px;
    height: 380px;
    object-fit: contain;
}
.container div div h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
.container div div p{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}
h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}
.order{
    background-color: #3C9379;
    border: 1px solid #3C9379;
    color: #FFFFFF;
    width: 102px;
    height: 40px;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
}
hr{
    max-width: 1200px;
    margin: auto;
}
@media  only screen and (max-width:500px) {
    .container div div img{
        width: 240px;
        aspect-ratio: 280/380;
        object-fit: contain;
    }
    .cards{
        display: grid;
        grid-template-rows: 448px 448px;
        grid-template-columns: 240px 240px;
        column-gap: 20px;
    }
    .air-force{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .white-sweater{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    
    .smartwatch{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .airpods{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }
}