<div class="container">
    <h1>top picks for you</h1>
    <div class="cards">
        <div class="air-force">
            <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/9a1c1af88f044d2288d2a5a90114db97_9366/samba-classic.jpg" alt="">
            <h3>Nike Air Force</h3>
            <p>Rp 2.999.999</p>
            <button class="order">Order</button>
        </div>
        <div class="white-sweater">
            <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/6adc4e3647d0465daa1eaf2c01041e69_9366/adicolor-classics-sst-track-pants.jpg" alt="">
            <h3>White Sweter</h3>
            <p>Rp 2.99.999</p>
            <button class="order">Order</button>
        </div>
        <div class="smartwatch">
            <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/a7b1f0d62829488bbb4fa89d00219ef4_9366/athletic-cushioned-crew-socks-6-pairs.jpg" alt="">
            <h3>Android Smartwatch</h3>
            <p>Rp 1.399.999</p>
            <button class="order">Order</button>
        </div>
        <div class="airpods">
            <img src="https://assets.adidas.com/images/w_766,h_766,f_auto,q_auto,fl_lossy,c_fill,g_auto/b238cfb06a4a40ccb042ac5c0000d2da_9366/performance-primegreen-polo-shirt.jpg" alt="">
            <h3>Apple Airpods</h3>
            <p>Rp 2.599.999</p>
            <button class="order">Order</button>
        </div>
    </div>
</div>
