<div class="container">
    <h3 class="categories-heading">Browse Categories of The Store</h3>
    <div class="categories-cards">
        <div class="fashion">
            <h5>Fashion</h5>
            <p>30,000 items</p>
        </div>
        <div class="skincare">
            <h5>Skincare</h5>
            <p>2,000 items</p>
        </div>
        <div class="shoes">
            <h5>Shoes</h5>
            <p>10,000 items</p>
        </div>
        <div class="electronic">
            <h5>Electronic</h5>
            <p>10,000 items</p>
        </div>

    </div>

</div>
